<div class="levelCard">
	<div class="vertical">
		<div class="levelTitle">
			<div class="horisontal">
				<h1 dashboard-score="%SCORE_NUMBER%">
					<i dashboard-show="%SCORE_IS_LEADER%" class="fa-solid fa-trophy"></i>
					<i dashboard-hide="%SCORE_IS_LEADER%" class="fa-solid fa-hashtag"></i>
					%SCORE_NUMBER%</h1>
				<h2>%SCORE_USER%</h2>
			</div>
			
			<div class="commentStat">
				<button dashboard-show="%SCORE_CAN_DELETE%" class="squareButton" onclick="postPage('manage/deleteScore', 'score%scoreID%')"><i class="fa-solid fa-xmark"></i></button>
				<form name="score%scoreID%">
					<input type="hidden" name="scoreID" value="%scoreID%"></input>
					<input dashboard-show="%LEVEL_IS_PLATFORMER%" type="hidden" name="isPlatformer" value="1"></input>
				</form>
			</div>
		</div>
		
		<div class="stats">
			<div class="horisontal">
				<div class="commentStat" title="ID">
					<i class="fa-solid fa-chart-simple"></i>
					<text dashboard-copy>%scoreID%</text>
				</div>
				
				<div class="commentStat" title="%TEXT_percent%" dashboard-hide="%LEVEL_IS_PLATFORMER%">
					<i class="fa-solid fa-percent"></i> %percent%
				</div>
				
				<div class="commentStat" title="%TEXT_attempts%">
					<i class="fa-solid fa-circle-play"></i> %attempts%
				</div>
				
				<div class="commentStat" title="%TEXT_coins%">
					<i class="fa-solid fa-coins"></i> %scoreCoins%
				</div>
				
				<div class="commentStat" title="%TEXT_clicks%" dashboard-show="%SCORE_CAN_SEE_HIDDEN%">
					<i class="fa-solid fa-computer-mouse"></i> %clicks%
				</div>
				
				<div class="commentStat" title="%TEXT_time%" dashboard-show="%SCORE_CAN_SEE_HIDDEN%" dashboard-hide="%LEVEL_IS_PLATFORMER%">
					<i class="fa-solid fa-clock"></i> %time%
				</div>
				
				<div class="commentStat" title="%TEXT_time%" dashboard-show="%LEVEL_IS_PLATFORMER%">
					<i class="fa-solid fa-clock"></i>
					<text dashboard-time="%time%"></text>
				</div>
				
				<div class="commentStat" title="%TEXT_points%" dashboard-show="%LEVEL_IS_PLATFORMER%">
					<i class="fa-solid fa-circle-dot"></i> %points%
				</div>
			</div>
			
			<div class="commentStat" title="%TEXT_uploadDate%">
				<i class="fa-solid fa-calendar"></i>
				<text dashboard-date="%timestamp%"></text>
			</div>
		</div>
	</div>
</div>