<html lang="en">
	<head>
		<title>%PAGE_TITLE%</title>
		<base href="%PAGE_BASE%">
		<meta charset="utf-8">
		<meta name="color-scheme" content="dark">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit='no'">
		<link async rel="stylesheet" href="incl/style.css?%STYLE_TIMESTAMP%">
		<link async rel="stylesheet" href="incl/icons/css/all.min.css">
		<script async src="incl/script.js"></script>
	</head>
	<body id="dashboard-body">
		<div id="dashboard-loader" class="dashboard-loader">
			<i class="fa-solid fa-circle-notch fa-spin"></i>
		</div>
	
		<nav>
			<div class="navbar-buttons">
				<button type="button" onclick="toggleNavbar()">
					<i class="fa-solid fa-bars"></i>
					<text title="Скрыть навбар">Скрыть навбар</text>
				</button>
				
				<button type="button" href="./">
					<i class="fa-solid fa-house"></i>
					<text title="Домой">Домой</text>
				</button>
			</div>
			
			<div class="navbar-buttons">
				<button type="button" href="./account/login">
					<i class="fa-solid fa-sign-in"></i>
					<text title="Домой">Войти в аккаунт</text>
				</button>
			</div>
		</nav>
		
		<div id="dashboard-page" class="dashboard-page">
			%PAGE%
			<footer>%FOOTER%</footer>
		</div>
	</body>
</html>