<html lang="en">
	<head>
		<title>%PAGE_TITLE% • %GDPS_NAME%</title>
		<base href="%PAGE_BASE%">
		<meta charset="utf-8">
		<meta name="color-scheme" content="dark">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit='no'">
		<link rel="icon" href="%DASHBOARD_FAVICON%">
		<link async rel="stylesheet" href="incl/style.css?%STYLE_TIMESTAMP%">
		<link async rel="stylesheet" href="incl/icons/css/all.min.css">
		<link async rel="stylesheet" href="incl/toast/toast.css">
		<script type="text/javascript">
			const dbPath = "%DATABASE_PATH%";
			const failedToLoadText = "%FAILED_TO_LOAD_TEXT%";
			const copiedText = "%COPIED_TEXT%";
			const nothingIsPlayingText = "%TEXT_nothingIsPlaying%";
			
			localStorage.language = "%LANGUAGE%";
		</script>
		<script async src="incl/script.js" type="text/javascript"></script>
		<script async src="incl/player.js" type="text/javascript"></script>
		<script async src="incl/toast/toast.js" type="text/javascript"></script>
	</head>
	<body id="dashboard-body">
		<div id="dashboard-loader" class="dashboard-loader">
			<i class="fa-solid fa-circle-notch fa-spin"></i>
		</div>
	
		<nav>
			<div class="navbar-buttons down">
				<button title="%TEXT_hidePanel%" type="button" onclick="toggleNavbar()">
					<i class="fa-solid fa-bars"></i>
					<text>%TEXT_hidePanel%</text>
				</button>
				
				<button title="%TEXT_home%" type="button" href="">
					<i class="fa-solid fa-house"></i>
					<text>%TEXT_home%</text>
				</button>
				
				<div class="dropdown" id="accountDropdown" dashboard-show="%IS_LOGGED_IN%">
					<button title="%TEXT_account%" type="button" dashboard-dropdown="accountDropdown">
						<i class="fa-solid fa-user"></i>
						<text>%TEXT_account% (X)</text>
						<i class="fa-solid fa-caret-right navbar-hide" dashboard-dropdown-caret></i>
					</button>
					<div class="dropdown-items">
						<button title="%TEXT_changeUsernameTitle%" type="button" href="account/changeUsername">
							<i class="fa-solid fa-circle-user"></i>
							<text>%TEXT_changeUsernameTitle%</text>
						</button>
						
						<button title="%TEXT_changePasswordTitle%" type="button" href="account/changePassword">
							<i class="fa-solid fa-key"></i>
							<text>%TEXT_changePasswordTitle%</text>
						</button>
						
						<button title="%TEXT_yourLevelsTitle%" type="button" href="account/levels">
							<i class="fa-solid fa-gamepad"></i>
							<text>%TEXT_yourLevelsTitle%</text>
						</button>
						
						<button title="%TEXT_yourListsTitle%" type="button" href="account/lists">
							<i class="fa-solid fa-list"></i>
							<text>%TEXT_yourListsTitle% (X)</text>
						</button>
						
						<button title="%TEXT_yourSongsTitle%" type="button" href="account/songs">
							<i class="fa-solid fa-music"></i>
							<text>%TEXT_yourSongsTitle% (X)</text>
						</button>
						
						<button title="%TEXT_favouriteSongsTitle%" type="button" href="account/favouriteSongs">
							<i class="fa-solid fa-heart"></i>
							<text>%TEXT_favouriteSongsTitle% (X)</text>
						</button>
						
						<button title="%TEXT_yourSFXsTitle%" type="button" href="account/sfxs">
							<i class="fa-solid fa-drum"></i>
							<text>%TEXT_yourSFXsTitle% (X)</text>
						</button>
					</div>
				</div>
			</div>
			
			<div class="navbar-buttons up">
				<button title="%TEXT_messengerTitle%" type="button" href="messenger" dashboard-show="%IS_LOGGED_IN%">
					<i class="fa-solid fa-comments"></i>
					<text>%TEXT_messengerTitle% (X)</text>
				</button>
				
				<div class="dropdown" id="profileLoggedOutDropdown" dashboard-hide="%IS_LOGGED_IN%">
					<button title="%TEXT_profile%" type="button" dashboard-dropdown="profileLoggedOutDropdown">
						<i class="fa-solid fa-user"></i>
						<text>%TEXT_profile%</text>
						<i class="fa-solid fa-caret-right navbar-hide" dashboard-dropdown-caret></i>
					</button>
					<div class="dropdown-items">
						<button title="%TEXT_settings%" type="button" href="settings">
							<i class="fa-solid fa-gear"></i>
							<text>%TEXT_settings% (X)</text>
						</button>
						
						<button title="%TEXT_loginToAccountTitle%" dashboard-hide="%IS_LOGGED_IN%" type="button" href="account/login">
							<i class="fa-solid fa-sign-in"></i>
							<text>%TEXT_loginToAccountTitle%</text>
						</button>
					</div>
				</div>
				
				<div class="dropdown" id="profileLoggedInDropdown" dashboard-show="%IS_LOGGED_IN%">
					<button title="%USERNAME%" type="button" dashboard-dropdown="profileLoggedInDropdown">
						<img loading="lazy" src="%PROFILE_ICON%"></img>
						<text>%USERNAME%</text>
						<i class="fa-solid fa-caret-right navbar-hide" dashboard-dropdown-caret></i>
					</button>
					<div class="dropdown-items">
						<button title="%TEXT_yourProfileTitle%" type="button" href="profile/%USERNAME%">
							<i class="fa-solid fa-user"></i>
							<text>%TEXT_yourProfileTitle% (X)</text>
						</button>
						
						<button title="%TEXT_settings%" type="button" href="settings">
							<i class="fa-solid fa-gear"></i>
							<text>%TEXT_settings% (X)</text>
						</button>
						
						<button title="%TEXT_logoutFromAccountTitle%" type="button" href="account/logout">
							<i class="fa-solid fa-sign-out"></i>
							<text>%TEXT_logoutFromAccountTitle%</text>
						</button>
					</div>
				</div>
			</div>
		</nav>
		
		<div id="dashboard-page" class="dashboard-page">
			<div class="head">
				<h1 class="title">%GDPS_NAME%</h1>
				<p class="description">%PAGE_TITLE%</p>
			</div>
			%PAGE%
		</div>
		
		<div class="audioPlayer" id="audioPlayer">
			<div class="vertical">
				<h1>
					<text class="songAuthor" id="audioPlayerAuthor"></text>
					<text id="audioPlayerTitle">%TEXT_nothingIsPlaying%</text>
					<text dashboard-copy id="audioPlayerSongID"></text>
				</h1>
				
				<audio id="audioPlayerSong" src=""></audio>
				
				<div class="audioPlayerControls">
					<i id="audioPlayerDownloadButton" class="fa-solid fa-download" onclick=""></i>
					
					<text id="audioPlayerCurrentTime">~:~</text>
					<input type="range" id="audioPlayerRange" value="0" max="0"></input>
					<text id="audioPlayerTotalTime">~:~</text>
				
					<i class="fa-solid fa-stop" onclick="player.stop()"></i>
				</div>
			</div>
			
			<button id="audioPlayerPlayButton" type="button" class="audioPlayerButton">
				<i class="fa-solid fa-play"></i>
			</button>
		</div>
		
		<footer>%FOOTER%</footer>
		
		<div class="circles">
			<div class="circle red" style='--position-delay: -1s'></div>
			<div class="circle green" style='--position-delay: -5s'></div>
			<div class="circle blue" style='--position-delay: -9s'></div>
			<div class="circle red" style='--position-delay: -14s'></div>
			<div class="circle green" style='--position-delay: -19s'></div>
			<div class="circle blue" style='--position-delay: -24s'></div>
		</div>
	</body>
</html>