<div class="box">
	<form name="changePasswordForm" autocomplete="gdps-dashboard">
		<div class="inputDiv">
			<h2>
				<i class="fa-solid fa-user"></i>
				%TEXT_userName%
			</h2>
			<input class="inputStyle" type="text" name="userName" autocomplete="gdps-dashboard-username" placeholder="YourVeryPrettyUsername" />
		</div>
		
		<div class="inputDiv">
			<h2>
				<i class="fa-solid fa-key"></i>
				%TEXT_changePasswordOld%
			</h2>
			<input class="inputStyle" type="password" name="password" autocomplete="gdps-dashboard-password" placeholder="•••••••••••••" />
		</div>
		
		<div class="inputDiv">
			<h2>
				<i class="fa-solid fa-user-plus"></i>
				%TEXT_changePasswordNew%
			</h2>
			<input class="inputStyle" type="password" name="targetPassword" autocomplete="off" placeholder="•••••••••••••" />
		</div>
		
		<button class="button" type="button" onclick="%CHANGE_PASSWORD_BUTTON_ONCLICK%">%TEXT_changePasswordTitle%</button>
	</form>
</div>