<div class="box">
	<form name="loginForm" autocomplete="gdps-dashboard">
		<div class="inputDiv">
			<h2>
				<i class="fa-solid fa-user"></i>
				%TEXT_userName%
			</h2>
			<input class="inputStyle" type="text" name="userName" autocomplete="gdps-dashboard-username" placeholder="YourVeryPrettyUsername" />
		</div>
		
		<div class="inputDiv">
			<h2>
				<i class="fa-solid fa-key"></i>
				%TEXT_password%
			</h2>
			<input class="inputStyle" type="password" name="password" autocomplete="gdps-dashboard-password" placeholder="•••••••••••••" />
		</div>
		
		<input type="hidden" name="lastLocation" value="%LOGIN_HTTP_REFERER%"></input>
		
		<button class="button" type="button" onclick="%LOGIN_BUTTON_ONCLICK%">%TEXT_loginToAccountButton%</button>
	</form>
</div>